<component name="ArtifactManager">
  <artifact type="exploded-war" name="MybatisWork:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/MybatisWork_war_exploded2</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MybatisWork" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.3" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.41" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: com.sun.mail:javax.mail:1.5.0" />
          <element id="library" level="project" name="Maven: javax.activation:activation:1.1" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="MybatisWork/web/Web" />
    </root>
  </artifact>
</component>